@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: "Montserrat", sans-serif;
    background-color: #F2F4F7;
}

.align {
    margin: 0 auto;      
    width: 100%;          
    max-width: 1200px;  
    padding: 0 20px; 
}

.header-container {
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: 0.6s
}

.header-container.sticky {
    padding: 0px;
    background-color: #029e3b;
    opacity: 0.98;
}
.menu {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    
}
.menu a {
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    color: white;
    
}
.logo a {
    font-size: 28px;
    color: white;
}
.destaque {
    color: #cc3f0c;
}

.menu ul li {
    margin-right: 15px;
    display: inline-block;
    list-style: none;
}

.menu .link-menu:hover {
    color: #CC3F0C;
    transition: 0.3s;
}

.banner {
    z-index: 1;
    background: url(img/banner.png) no-repeat center/cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

.banner-content {
    z-index: 1;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Ajuste a largura da sobreposição conforme necessário */
    height: 100%;
    background-image: linear-gradient(90deg, #000000C4 0%, #E1D2C500 100%);;
    z-index: -1;
  }


.title-banner {
    font-weight: 600;
    color: white;
    font-size: 30px;
}
.banner-description {
    color: white;
    font-weight: 400;
    font-size: 15px;
    z-index: 1;
    letter-spacing: 0.7px;
    padding: 20px 0 20px;
}

.banner-btn {
    font-weight: 500;
    font-size: 15px;
    color: #ffff;
    z-index: 1;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #CC3F0C;
    text-decoration: none;
    letter-spacing: 3px;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s;
}

.banner-btn:hover {
    background-color: #d25528;
}

.main-content { 
    margin-top: 50px;
    scroll-margin-top: 100px;
}

.title-section {
    font-weight: 500;
    font-size: 24px;
    color: #252525;
    text-align: center;
    padding: 50px 0 40px;
    
}
.img-card {
    border-radius: 8px;
    width: 100%;
    height: 250px;
    object-fit: cover;      
    overflow: hidden; 
}

.card-content {
    border-radius: 8px;
    width: 280px;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease;
    
}
.card-container {
    color: white;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    padding-bottom: 25px;
}


.card {
    border-radius: 8px;
    padding: 0 0 15px;
    background-color: #E6E3E9;
}

.img-card {
    border-radius: 8px 8px 0px 0px;
}

.card-title {
    color: #cc3f0c;
    font-size: 15px;
    text-align: center;
    padding: 10px;
}

.card-descripition {
    color: #000000;
    font-size: 14px;
    text-align: center;
    padding: 0 10px;
}

#sobre {
    background-color: #E6E3E9;
}

.profile {
    gap: 20px;
    display: flex;
    
}
.profile img {
    border-radius: 2px;
    width: 400px;
    min-width: 200px;      
    object-fit: cover;      
    overflow: hidden; 
}

.profile-content {
    color: #0D1321;
    max-width: 600px;
    margin: 0 auto;
    padding: 50px 0 30px;
}
h2 {
    text-transform: uppercase;
}
.profile h2 {
    font-size: 18px;
}

.profile-info {
    font-size: 15px;
    padding-top: 20px;
}

.main-form h2 {
    font-size: 18px;
    padding-bottom: 15px;
}
.main-form {
    color: black;
    padding-top: 60px;
    
}
.form-imc {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.input-imc {
    background-color: transparent;
    outline: none;
    line-height: 20px;
    max-width: 200px;
    border: none;
    border-bottom: 1px solid #98928e;
}

#btn {
    text-transform: uppercase;
}

input[type=number]::-webkit-inner-spin-button{
    appearance: none;
}
.classification {
    padding-bottom: 60px;

}
table {
    width: 600px;
    border: none;
    border-collapse: collapse;
}

tbody .destaque {
    text-transform: uppercase;
    font-weight: 600;
}

table tr td {
    padding: 0 15px;
    line-height: 40px;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #98928e;
    text-transform: uppercase;
}
table thead tr td {
    font-weight: 600;
    color: #ffff;
    border: none;
    background-color: #029e3b;
}


.icon-zap {
    z-index: 100;
    font-size: 45px;
    right: 30px;
    color: #ffffff;
    background-color: #029e3b;
    position: fixed;
    bottom: 60px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    box-shadow: 2px 2px 2px #c0bdbd;
    padding-bottom: 15px;
}

.icon-zap:hover {
    background-color: #fff;
    color: #029e3b;
    
}

.main-btn {
    padding: 30px 0;
}

.footer-menu {
    color: #c0bdbd;
    line-height: 20px;
    background-color: #0D1321;
    width: 100%;

}

/* Mobile-menu */
.menu-toggle {
    display: none;
    cursor: pointer;
}

.menu-icon {
    width: 25px;
    height: 3px;
    background-color: white;
    position: relative;
    transition: 0.3s;
}

.menu-icon::before,
.menu-icon::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: white;
    transition: 0.3s;
}

.menu-icon::before {
    top: -8px;
}

.menu-icon::after {
    top: 8px;
}

/* Estilos para mobile */
@media (max-width: 915px) {
    .menu ul {
        border-top: 1px solid #fff;
        display: none;
        gap: 10px;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 0;
        background-color: #029e3b;
        width: 100%;
        padding: 20px 20px;
        text-align: start;
        z-index: 10;
        
    }
    .menu .link-menu:hover {
        color: #CC3F0C;
    }

    .menu ul.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }

    .header-container {
        padding: 0;
    }
}

@media (max-width: 768px) {
    .banner-content {
        padding: 20px;
        text-align: center;
    }

    .title-banner  {
        font-size: 24px;
        font-weight: 600;
    }

    .banner-description {
        max-width: 100%;
        font-size: 14px;
    }

}

@media (max-width: 768px) {
    .title-section {
        font-size: 18px;
        padding: 0 10px 10px;
    }
}

@media (max-width: 768px) {
    
    .profile h2 {
        font-size: 16px;
    }
    .profile {
        flex-direction: column;
        
        justify-content: center;
    }
    .profile-content {
        padding: 0;
        margin: 0;
    }
    
}

@media (max-width: 768px) {
    table {
        width: auto;
    }
}
@media (max-width: 320px) {
    table {
        width: auto;
    }
}

@media (max-width: 915px){
    .banner {
        height: 100vh;
        padding-top: 80px;
    }
    .banner-content {
        padding-top: 20px;
    }
}

@media (max-width: 420px) {
    .profile {
        align-items: center;
    }
}

html {
    scroll-behavior: smooth;
}